:root.theme-light {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --accent-color: #ff007a;
  --accent-text-color: #ffffff;
  --border-color: #1a1a1a;
  --card-bg-color: #f5f7fa;
  --bg-image: url(../images/bg-white.svg);
  --rec-display: none;
  --text-shadow-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --accent-color: #ff007a;
    --accent-text-color: #ffffff;
    --border-color: #1a1a1a;
    --card-bg-color: #f5f7fa;
    --bg-image: url(../images/bg-white.svg);
    --rec-display: none;
    --text-shadow-color: transparent;
  }
}